<%= form_for(@practice_log) do |f| %>
  <% if @practice_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice_log.errors.count, "error") %> prohibited this practice_log from being saved:</h2>

      <ul>
      <% @practice_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>Occurred On: <%= f.text_field :occurred_on %></div>
  <div>Duration: <%= f.text_field :duration %>     </div>
  <div>Expertise: <%= f.select :expertise_id, options_for_select(@expertises) %></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
