%h1= PracticeLog.model_name.human.pluralize

%table
  %tr
    %th= Expertise.model_name.human
    %th= PracticeLog.human_attribute_name :occurred_on
    %th= PracticeLog.human_attribute_name :duration
  -@practice_logs.each do |practice_log|
    %tr
    %td= practice_log.expertise.name
    %td= practice_log.occurred_on
    %td= distance_of_time_in_words(practice_log.duration)
    %td= link_to t('ccicc.edit'), edit_practice_log_path(practice_log)
    %td= link_to t('ccicc.destroy'), practice_log, :confirm => t('ccicc.confirm_destroy'), :method => :delete
