<h1>Listing practice_logs</h1>

<table border=1>
  <tr>	
    <th>Expertise</th>
    <th>Occurred on</th>
    <th>Duration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @practice_logs.each do |practice_log| %>
  <tr>
	<td></td><!-- TODO: Add once expertise is merged in -->
	<td><%= practice_log.occurred_on %></td>
	<td><%= practice_log.duration %></td>
    <td><%= link_to 'Show', practice_log %></td>
    <td><%= link_to 'Edit', edit_practice_log_path(practice_log) %></td>
    <td><%= link_to 'Destroy', practice_log, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Practice log', new_practice_log_path %>
