%h1
  Listing Practice Logs

%table
  %tr
    %th Expertise
    %th Occurred on
    %th Duration
  -@practice_logs.each do |practice_log|
    %tr
    %td= practice_log.expertise.name
    %td= practice_log.occurred_on
    %td= practice_log.duration
    %td= link_to 'Show', practice_log
    %td= link_to 'Edit', edit_practice_log_path(practice_log)
    %td= link_to 'Destroy', practice_log, :confirm => 'Are you sure?', :method => :delete

%br/
= link_to 'New Practice log', new_practice_log_path