<p id="notice"><%= notice %></p>

<div>Occurred on: <%= @practice_log.occurred_on %></div>
<div>Duration: <%= @practice_log.duration %></div>
<%= link_to 'Edit', edit_practice_log_path(@practice_log) %> |
<%= link_to 'Back', practice_logs_path %>
