%h1
  Expertises

%table
  %tr
    %th Name
    %th Hours Remaining
  -@expertises.each do |expertise|
    %tr
      %td= expertise.name
      %td= expertise.total_minutes_remaining/60
      %td= link_to 'Show', expertise
      %td= link_to 'Edit', edit_expertise_path(expertise)
      %td= link_to 'Destroy', expertise, :confirm => 'Are you sure?', :method => :delete
<br />

= link_to 'New Expertise', new_expertise_path
