%h1
  =Expertise.human_name.pluralize

%table
  %tr
    %th
    %th= Expertise.human_attribute_name(:name)
    %th= Expertise.human_attribute_name(:hours_remaining)
  -@expertises.each do |expertise|
    %tr
      %td= expertise.color
      %td= expertise.name
      %td= expertise.hours_remaining
      %td= link_to t('ccicc.show'), expertise
      %td= link_to t('ccicc.edit'), edit_expertise_path(expertise)
      %td= link_to t('ccicc.destroy'), expertise, :confirm => t('ccicc.confirm_destroy'), :method => :delete
<br />

= link_to t('ccicc.new', :type => Expertise.human_name), new_expertise_path
