
=Expertise.human_name + ':'
=@expertise.name
%br/

=Expertise.human_attribute_name(:hours_remaining) + ':'
=@expertise.hours_remaining
%br/

%table
  %tr
    %th= PracticeLog.human_attribute_name(:occurred_on)
    %th= PracticeLog.human_attribute_name(:duration)
  -@expertise.practice_logs.each do |item|
    %tr
      %td= item.occurred_on
      %td= item.duration
      %td= link_to t('ccicc.edit'), edit_practice_log_path(item)
      %td= link_to t('ccicc.destroy'), item, :confirm => t('ccicc.confirm_destroy'), :method => :delete

= link_to t('ccicc.edit'), edit_expertise_path(@expertise)
|
= link_to t('ccicc.back'), expertises_path
