!!!
%html
  %head
    %title
      \&#x2182
    = stylesheet_link_tag 'common', 'app'
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #container
      #nav-header
        #logo
          %a{:href => dashboard_path, :title => t('ccicc.site_name')}
            = t('ccicc.site_name')
        #nav-left
          .nav-item
            %a{:href => expertises_path}
              = t('ccicc.expertises.name').pluralize
          .nav-item
            %a{:href => practice_logs_path}
              = t('ccicc.practice_logs.name').pluralize
        #nav-right
          .nav-item
            %a{:href => logout_path}
              = t('ccicc.sign_out')
      #application-nav
        .nav-item
          %a{:href => calendar_report_path}
            = t('ccicc.reports.calendar.name')
        
      #practice_log_entry
        -# TODO:
        -#  1. Change from f.select to an autocomplete text box.
        -#  2. Make this an AJAX post.
        =form_for PracticeLog.new, :url => practice_logs_path do |f|
          %input{:type => 'hidden', :name => 'quick_add', :value => 'true'}
          =f.text_field :occurred_on, :placeholder => t('ccicc.practice_logs.columns.occurred_on'), :value => Date.today, :class => 'datepicker'
          =f.select( :expertise_id, Expertise.all.collect { |p| [p.name, p.id] }, options = { :prompt => t('ccicc.pick_one')} )
          =f.text_field :practice_duration, :placeholder => t('ccicc.practice_logs.duration_hint')
          =f.submit t('ccicc.practice_logs.quick_add')

      #content
        - flash.each do |key, value|
          %div{:class => "flash #{key}"}
            = value.html_safe
        =yield

      #footer
        = render 'common/locales'
