!!!
%html
  %head
    %title
      \&#x2182
    = stylesheet_link_tag 'common', 'welcome'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #container
      #nav-header
        #logo
          %a{:href => root_path}
            = t('ccicc.site_name')
        #nav-right
          .nav-item
            %a
              =t('ccicc.sign_in')
          .nav-item
            %a#twitter_login{:href => '/auth/twitter'}
              =t('ccicc.auth.twitter', :default => 'twitter')
      #content
        - flash.each do |key, value|
          %div{:class => "flash #{key}"}
            = value
        =yield
      =render 'common/footer'
